<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilherme V Nicchio</title>
    <link href="../styles/style.css" rel="stylesheet" />
</head>
<body class="custom-cursor" id="main-body">
    
    <div id="about-wrapper-pink" class="wrapper-slideup-1">
        <div id="about-wrapper-white" class="wrapper-slideup-2">
            <div id="wrapper" class="wrapper-slideup-3">
                <canvas id="canvas"></canvas>

                <footer id="footer" class="btn-slideup">
                    <!-- <div><span class="sub" id="particle-count">0</span></div> -->
                    <a href="../index.html"><button id="about-btn" class="btn draw-border btn-move">home</button></a>
                </footer>
                
            </div>
        </div>
    </div>
    
</body>

<script src="../scripts/game.js"></script>