@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

.App {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
